<div class="social-icon-container">
    <div class="social-icon-item">
        <a href="{{ "/feed.xml" | relative_url }}">
            <img class="social-icon-img" src="/assets/rss_128.png">
        </a>
    </div>
    <div class="social-icon-item">
        <a href="https://github.com/LudditeGames">
            <img class="social-icon-img" src="/assets/github_128.png">
        </a>
    </div>
    <div class="social-icon-item">
        <a href="https://twitter.com/LudditeGames">
            <img class="social-icon-img" src="/assets/twitter_128.png">
        </a>
    </div>
</div>
