body {
    /*Background image section*/
    background: linear-gradient(to bottom right, #AAA, #000000) fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    /*Text image section*/
    margin:40px auto;
    max-width:650px;
    line-height:1.6;
    font-size:18px;
    color:#FEFEFE;
    padding:0 10px
  }

p {
    font-family: Arial
}

h1,h2,h3 {
  line-height:1.2;
  text-align: center;
}

a {
    color: #AEB0FF
}
