html, body
{
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    position: absolute;
}
#mapViewDiv {
    padding: 0;
    margin: 0;
    height: 754px;
    width: 1344px;
    float: right;
}
#container {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}
#gameStatsDiv {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
    z-index: 10;

}
#examplePopup {
    padding: 0;
    margin: 0;
    height: 754px;
    width: 336px;
    float: left;
/*    border-right: solid;*/

}
#animalsTab {
    height: 100%;
    width: 90%;

}
.animalCardDiv {
    height: 25%;
    width: 100%;
}
.animalCard {
    border: 1px;
    border-color: #CCCCCC;
    border-style: solid;
    width: 229px;
    height: 152px;
    margin-bottom: 30px;
    margin-left: 54px;
    margin-right: 54px;
    box-shadow: 2px 2px 6px #CCCCCC;
}

.myslider {
    -webkit-appearance: none;
    background: #FCF3CF  ;
    width: 1200px;
    margin-top: 28px;
    margin-right: 40px;
    margin-left: 42px;
    height: 30px;
    opacity: 2;
   }
.myslider:hover {
    opacity: 1;
}

.myslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    cursor: pointer;
    background: #34495E  ;
    width: 3%;
    height: 30px;
}
.logo{
    width:336px;
    height:191px;
    float:left;
}
.sliderDiv {
    width: 1344px;
    height: 149px;
    float: right;
}
#sliderImgOverlay{
    position: absolute;
    left: 29%;
    top: 20px;
}

#announce {
    position: absolute;
    left: 337px;
    top: 800px;
}

#gameOverScreen1Text p{
    width:100%;
    height:100%;
    position: absolute;
    text-align: center;
    opacity: 0;
    z-index: 9;
    color: white;
    font: sans-serif;
    vertical-align: middle;

    top: 60%;
    left: 60%;
    width: 50%;
    height: 50%;
    margin: -15% 0 0 -25%;

    font-size: 800%;
    font-weight: bold;
    font-family: sans-serif;
}

#gameOverScreen1Bg p{
    width:100%;
    height:105%;
    position: absolute;
    text-align: center;
    opacity: 0;
    z-index: 9;
    background-color: black;
    top: -30px;
    left: 0px;
}

#gameOverScreen2Text p{
    width:100%;
    height:100%;
    position: absolute;
    text-align: center;
    opacity: 0;
    z-index: 9;
    color: white;
    font: sans-serif;
    vertical-align: middle;

    top: 60%;
    left: 60%;
    width: 50%;
    height: 50%;
    margin: -15% 0 0 -25%;

    font-size: 600%;
    font-weight: bold;
    font-family: sans-serif;
}

#gameOverScreen31Text p{
    width:100%;
    height:100%;
    position: absolute;
    text-align: center;
    opacity: 0;
    z-index: 9;
    color: white;
    font: sans-serif;
    vertical-align: middle;

    top: 50%;
    left: 60%;
    width: 50%;
    height: 50%;
    margin: -15% 0 0 -25%;

    font-size: 300%;
    font-weight: bold;
    font-family: sans-serif;
}

#gameOverScreen32Text p{
    width:100%;
    height:100%;
    position: absolute;
    text-align: center;
    opacity: 0;
    z-index: 9;
    color: white;
    font: sans-serif;
    vertical-align: middle;

    top: 67%;
    left: 60%;
    width: 50%;
    height: 50%;
    margin: -15% 0 0 -25%;

    font-size: 1000%;
    font-weight: bold;
    font-family: sans-serif;
}

#gameOverScreen33Text p{
    width:100%;
    height:100%;
    position: absolute;
    text-align: center;
    opacity: 0;
    z-index: 9;
    color: white;
    font: sans-serif;
    vertical-align: middle;

    top: 90%;
    left: 60%;
    width: 50%;
    height: 50%;
    margin: -15% 0 0 -25%;

    font-size: 300%;
    font-weight: bold;
    font-family: sans-serif;
}

#gameOverScreen41Text p{
    width:100%;
    height:100%;
    position: absolute;
    text-align: center;
    opacity: 0;
    z-index: 9;
    color: white;
    font: sans-serif;
    vertical-align: middle;

    top: 55%;
    left: 60%;
    width: 50%;
    height: 50%;
    margin: -15% 0 0 -25%;

    font-size: 300%;
    font-weight: bold;
    font-family: sans-serif;
}
#gameOverScreen42Text p{
    width:100%;
    height:100%;
    position: absolute;
    text-align: center;
    opacity: 0;
    z-index: 9;
    color: white;
    font: sans-serif;
    vertical-align: middle;

    top: 75%;
    left: 60%;
    width: 50%;
    height: 50%;
    margin: -15% 0 0 -25%;

    font-size: 1000%;
    font-weight: bold;
    font-family: sans-serif;
}

#gameOverScreen43Text p{
    width:100%;
    height:100%;
    position: absolute;
    text-align: center;
    opacity: 0;
    z-index: 9;
    color: white;
    font: sans-serif;
    vertical-align: middle;

    top: 95%;
    left: 60%;
    width: 50%;
    height: 50%;
    margin: -15% 0 0 -25%;

    font-size: 300%;
    font-weight: bold;
    font-family: sans-serif;
}

#gameOverScreen51Text p{
    width:100%;
    height:100%;
    position: absolute;
    text-align: center;
    opacity: 0;
    z-index: 9;
    color: white;
    font: sans-serif;
    vertical-align: middle;

    top: 55%;
    left: 60%;
    width: 50%;
    height: 50%;
    margin: -15% 0 0 -25%;

    font-size: 300%;
    font-weight: bold;
    font-family: sans-serif;
    font-family: sans-serif;
    line-height: 1.5em;
}

#gameOverScreen52Text p{
    width:100%;
    height:100%;
    position: absolute;
    text-align: center;
    opacity: 0;
    z-index: 9;
    color: white;
    font: sans-serif;
    vertical-align: middle;

    top: 80%;
    left: 50%;
    width: 70%;
    height: 50%;
    margin: -15% 0 0 -25%;

    font-size: 500%;
    font-weight: bold;
    font-family: sans-serif;

}

#gameOverScreen6Text p{
    width:100%;
    height:100%;
    position: absolute;
    text-align: center;
    opacity: 0;
    z-index: 9;
    color: white;
    font: sans-serif;
    vertical-align: middle;

    top: 45%;
    left: 60%;
    width: 50%;
    height: 50%;
    margin: -15% 0 0 -25%;

    font-size: 450%;
    font-weight: bold;
    font-family: sans-serif;
    line-height: 1.5em;
}

#gameOverScreen7Text p{
    width:100%;
    height:100%;
    position: absolute;
    text-align: center;
    opacity: 0;
    z-index: 9;
    color: white;
    font: sans-serif;
    vertical-align: middle;

    top: 50%;
    left: 60%;
    width: 50%;
    height: 50%;
    margin: -15% 0 0 -25%;

    font-size: 350%;
    font-weight: bold;
    font-family: sans-serif;
    line-height: 1.5em;
}

#gameOverScreen72Text p{
    width:100%;
    height:100%;
    position: absolute;
    text-align: center;
    opacity: 0;
    z-index: 9;
    color: white;
    font: sans-serif;
    vertical-align: middle;

    top: 85%;
    left: 60%;
    width: 50%;
    height: 50%;
    margin: -15% 0 0 -25%;

    font-size: 150%;
    font-weight: bold;
    font-family: sans-serif;
    line-height: 1.5em;
}

#gameOverScreen8Text p{
    width:100%;
    height:100%;
    position: absolute;
    text-align: center;
    opacity: 0;
    z-index: 9;
    color: white;
    font: sans-serif;
    vertical-align: middle;

    top: 60%;
    left: 60%;
    width: 50%;
    height: 50%;
    margin: -15% 0 0 -25%;

    font-size: 400%;
    font-weight: bold;
    font-family: sans-serif;
}

#gameOverScreen9Text p{
    width:100%;
    height:100%;
    position: absolute;
    text-align: center;
    opacity: 0;
    z-index: 9;
    color: white;
    font: sans-serif;
    vertical-align: middle;

    top: 60%;
    left: 60%;
    width: 50%;
    height: 50%;
    margin: -15% 0 0 -25%;

    font-size: 300%;
    font-weight: bold;
    font-family: sans-serif;
}

#gameOverScreen10Text p{
    width:100%;
    height:100%;
    position: absolute;
    text-align: center;
    opacity: 0;
    z-index: 9;
    color: white;
    font: sans-serif;
    vertical-align: middle;

    top: 60%;
    left: 60%;
    width: 50%;
    height: 50%;
    margin: -15% 0 0 -25%;

    font-size: 300%;
    font-weight: bold;
    font-family: sans-serif;
}


#startTextBg1 p{
    width:100%;
    height:105%;
    position: absolute;
    text-align: center;
    opacity: 0.5;
    z-index: 9;
    background-color: black;
    top: -30px;
    left: 0px;
}

#startTextBg2 p{
    width:100%;
    height:105%;
    position: absolute;
    text-align: center;
    opacity: 0.15;
    z-index: 9;
    background-color: black;
    top: -30px;
    left: 0px;
}

#startText1 p{
    width:100%;
    height:100%;
    position: absolute;
    text-align: center;
    opacity: 100;
    z-index: 9;
    color: white;
    font: sans-serif;
    vertical-align: middle;

    top: 65%;
    left: 60%;
    width: 50%;
    height: 50%;
    margin: -15% 0 0 -25%;

    font-size: 600%;
    font-weight: bold;
    font-family: sans-serif;
}

#startText2 p{
    width:100%;
    height:100%;
    position: absolute;
    text-align: center;
    opacity: 100;
    z-index: 9;
    color: white;
    font: sans-serif;
    vertical-align: middle;

    top: 60%;
    left: 60%;
    width: 50%;
    height: 50%;
    margin: -15% 0 0 -25%;

    font-size: 200%;
    font-weight: bold;
    font-family: sans-serif;
    line-height: 1.5em;
}

#startText3 p{
    width:100%;
    height:100%;
    position: absolute;
    text-align: center;
    opacity: 100;
    z-index: 9;
    color: black;
    font: sans-serif;
    vertical-align: middle;

    top: 60%;
    left: 28%;
    width: 15%;
    height: 50%;
    margin: -15% 0 0 -25%;

    font-size: 300%;
    font-weight: bold;
    font-family: sans-serif;
    line-height: 2em;
}

#startText4 p{
    width:100%;
    height:100%;
    position: absolute;
    text-align: center;
    opacity: 100;
    z-index: 9;
    color: black;
    font: sans-serif;
    vertical-align: middle;

    top: 38%;
    left: 45%;
    width: 80%;
    height: 50%;
    margin: -15% 0 0 -25%;

    font-size: 120%;
    font-weight: bold;
    font-family: sans-serif;
    line-height: 2em;
}

.playButton {
    background-color: #333333;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    font-family: sans-serif;
    display: inline-block;
    font-size: 32px;
    border-radius: 50px;
  }

  #playButton1 {
      position: absolute;
      top: 60%;
      left: 56%;
      width: 10%;
      height: 10%;
      z-index:29;
  }

  #playButton2{
    position: absolute;
    top: 60%;
    left: 56%;
    width: 10%;
    height: 10%;
    z-index:29;
}

a { color: white; }