body {
    /*Background image section*/
    background: url('./photography/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    
    /*Text image section*/
    margin:40px auto;
    max-width:650px;
    line-height:1.6;
    font-size:18px;
    color:#EEEEEE;
    padding:0 10px
  }

p {
    font-family: Arial
}

h1, h2, h3 {
  text-align: center;
}

h1, h2, h3 {
  line-height:1.2;
}

a {
    color: #777AFF;
}
